.search-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__select {
    &--small { width: 120px; }
    &--medium { width: 160px; }
    &--large { width: 240px; }
  }

  &__text {
    &--small { width: 240px; }
    &--medium { width: 320px; }
    &--large { width: 400px; }
  }

  &__date-range {
    width: 280px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: flex-end;

    &__action { width: 80px; }
  }
}
