body {
  margin: 0;
}

.app-layout {
  display: flex;

  &--full-height {
    height: 100dvh;
  }

  &__content {
    flex: 1;
    transition: margin-left 0.3s ease;
    display: flex;
    flex-direction: column;
  }

  &--menu-collapsed {
    .app-layout__content {
      margin-left: 0;
      width: 100%;
    }
  }
}

.lnb {
  height: 100dvh;
  border-right: 1px solid rgba(255, 255, 255, 0.09);

  &__divider {
    margin-bottom: 0;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    gap: 0.5rem;
    margin: 20px 0;

    &__text {
      font-size: 2.25rem;
      font-weight: 600;
      display: unset;
    }

    &--collapsed {
      .lnb__logo-text {
        display: none;
      }
    }
  }

  &__menu {
    height: calc(100dvh - 110px);
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  width: calc(100% - 240px);
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--collapsed {
    width: calc(100% - 64px);
  }

  &__content--padding {
    padding: 0.75rem 1.5rem;
  }
}

.main-content {
  padding: 1.5rem;
  flex: 1;
  margin-top: 64px;
  max-height: calc(100dvh - 64px);
  overflow-y: auto;
}

.sider__content--padding {
  padding: 24px;
}

.footer {
  height: 64px;
  padding: 24px;
}